<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .table-custom th {
            background-color: #007bff;
            color: white;
            width: 20%;
        }
        .table-custom td {
            background-color: #f8f9fa;
        }
        .table-custom {
            width: auto;
        }
    </style>
</head>
<body>
    
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="container mt-5">
                        <h4>Hello Mr. {{ form_data.suprid }}, the supervisor.</h4>
                        <p>I would like to inform you that we have a new employee in your department. Please find his information below.</p>
                        <table class="table table-bordered table-custom">
                            <tr>
                                <th>Employee ID</th>
                                <td>{{ form_data.empidn }}</td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td>{{ form_data.empname_eng }}</td>
                            </tr>
                            <tr>
                                <th>Join Date</th>
                                <td>{{ form_data.joindate }}</td>
                            </tr>
                            <tr>
                                <th>Phone Number</th>
                                <td>{{ form_data.empnumber }}</td>
                            </tr>
                            <tr>
                                <th>Emergency Phone Number</th>
                                <td>{{ form_data.othernumber }}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ form_data.empemail }}</td>
                            </tr>
                            <tr>
                                <th>Birth Date</th>
                                <td>{{ form_data.birth_date }}</td>
                            </tr>
                            <tr>
                                <th>City</th>
                                <td>{{ form_data.city }}</td>
                            </tr>
                            <tr>
                                <th>Gender</th>
                                <td>{{ form_data.gender }}</td>
                            </tr>
                            <tr>
                                <th>Marital Status</th>
                                <td>{{ form_data.marital_status }}</td>
                            </tr>
                            <tr>
                                <th>Job Title</th>
                                <td>{{ form_data.jopt }}</td>
                            </tr>
                            <tr>
                                <th>Department</th>
                                <td>{{ form_data.deptid }}</td>
                            </tr>
                            <tr>
                                <th>Employment Status</th>
                                <td>{{ form_data.statsid }}</td>
                            </tr>
                        </table>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer text-center mt-4">
        <p>If you have any questions, please contact us.</p> 
        <p class="text-center">We hope the information was useful. Regards, IT</p>
        &copy; 2024
    </div>
    
</body>
</html>